//VARIABLES----------
//-------------------

//Colors
//--------------------------

$save-add:   #3b99c4;//para los botones de guardar y añadir
$favorite:   #dda2c4;




//Gray
//---------------------------

$gray-100:   #e5e5e8;
$gray-200:   #dcdcdf;
$gray-300:   #c7c7cd;


//Scaffolding
//---------------------------
$body-color:        #fff;
$body-bgc:          #47e2da;
$body-bgc-second:   #ecb4ea;
$body-bgc-third:    #519aca; 
$body-bgc-fourth:   #51caa6; 
$body-bgc-fifth:    #714981; 

$link-decoration:   underline;
$link-hover:        none;

$paragraph-bottom: 1rem;


//Font
//---------------------------

$font-primary: "Muli";
//$font-secondary: "Quattrocento";

$font-family-primary:   $font-primary, Arial, sans-serif;
//$font-family-secondary: $font-secondary, serif;

$font-size-base:        16px;
$font-size-title:       40px;
$font-size-subtitle:    20px;
$font-size-secondHead:  30px;
$font-size-label:       17px;
$font-size-btn:         17px;

$font-weight-light:   300;
$font-weight-normal:  400;
$font-weight-medium:  500;
$font-weight-large:   600;
$font-weight-bold:    700;
$font-weight-super:   800;


