//BUTTON
//-----------------



.btn {
  @include button();
  &--success {
    @include button($button-color-default);
  }
  &--app {
    @include button($button-color-default);
    display: inline-flex;
  }
  &--size {
    @include button($button-color-default);
    width: rem(90px);
  }
  &--fav {
    @include button($button-color-default);
    width: rem(180px);
    height: rem(100px); 
  }

}
