//FORM
//----------------

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  font-size: $font-size-base;
  

  &__group {
     margin: 0.5rem;
  }

  &__label {
    font-size: $font-size-label; 
  }

  &__control {
  display: block;
  margin-top: 0.5rem;
  width: 18rem;
  height: 2rem;
  border: 1px solid rgb(0, 238, 255);
  border-radius: 3px;
  }
  
  &__action {
    padding-top: 2rem;

  }

  &__registeredUser { 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;   
      
  }
  
}


