//FORM
//----------------

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  font-size: $font-size-base;
  

  &__group {
    padding: 1rem rem(16px) 0;
    
    &--action {
      padding-top: 1rem;
    }
  }

  &__label {
    margin-left: rem(12px);
    font-size: $font-size-label;
    color: #333; 
  }

  &__control {
    display: block;
    margin-top: 0.5rem;
    width: 18rem;
    height: 2rem;
    border: 1px solid rgb(161, 184, 187);
    border-radius: 12px;
  }
  
  &__action {
    padding-top: 1.5rem;
  }

  &__registeredUser { 
    padding: 1rem;
    text-decoration: none;
    font-size: $font-size-label; 
      
  }
  
}


