//Modal password
//------------------



/*MODAL*/

.modal {
  display: flex;
  justify-content: center; /*centra la modal*/
  align-items: center; /*centra el item, la crucecita*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  //opacity: 0;
  transition: opacity 0.35s ease-out;
  background-color: $body-bgc;
  
    &__container {
      /*pinta el contenedor de la modal*/
      width: 300px;
      
      position: relative;
      border-radius: 10px; /*redondea los bordes de la caja de la modal*/
      padding: 20px; /*da el espaciado entre el texto y la caja de la modal*/
      background-color: #fff;
      transform: translate3d(0, -30px, 0);
      transition: transform 0.35s linear;
    } 
  
    &__close {
      position: absolute; /*porque lo queremos mover respecto a la posicion del borde del container*/
      top: 12px; /*12px con respecto al borde de arriba*/
      right: 0; /*según la coordenada de la derecha, 0 hacia dentro */
      margin: 0 rem(12px) rem(12px) 0;
      
    }

    &__title {
      color: #333;
      font-size: $font-size-subtitleField;
      font-weight: $font-weight-large;
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }
    &__body {
      display: inline-block;
      flex-wrap: wrap;
      
      padding-bottom: rem(8px);
    
      &--label {
        margin-left: rem(10px);
        font-size: $font-size-label;
        color: #333; 

      }
      &--control {
        margin: .5rem 0 1rem;
        width: 80vw;
        height: 2rem;
        border: 1px solid rgb(161, 184, 187);
        border-radius: 12px;
      }

    }
}

.modal-button {
  border: 0;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.75);
  transition: color 0.25s;
  
    &:hover {
    color: #000;
    /*padding: está heredando del btn; si fuese más grande habría que dárselo para que no estuviera tan pegado*/
  }
}

.modal--show .modal__container {
  transform: translate3d(0, 0, 0); //transform y opcity es lo que se quiere TRANSICIONAR 
}

.modal--show {
  z-index: 1000;
  opacity: 1;
}
  


