//Mixin botones 

@mixin button($background: $button-background, $color: $button-color, $font-size: $button-font-size, $padding: $button-padding) {
  display: flex;
  border: 0;
  border-radius: rem(12px);
  padding: $padding;
  background-color: $background;
  color: $color;
  font-size: $font-size;
  font-family: $font-family-primary;
  text-decoration: none;
  box-shadow:  $button-box-shadow;
  transition: transform 0.15s, box-shadow 0.15s;
  transform: rotateX(0deg) translateY(0);
  perspective: 600px;
  outline: 0;
  
  
  &:hover {
    box-shadow: $button-box-shadow-hover;
    border-radius: rem(24px);
    transform: rotateX(30deg) translateY(0);
  }
  
  &:hover:active {
    text-shadow: $button-text-shadow-active;
    box-shadow: $button-box-shadow-active;
    background: $button-background-active;
    transition: transform 0.05s, box-shadow 0.05s;
    transform: rotateX(30deg) translateY(4px);
  }
}
